<div id="page-content-wrapper">
  <div class="container-fluid xyz">
      <div class="row">
        <!-- PART OF: 6) Download PDF (table) monthly to view attendance / leave for all employees -->
        <div>Employee => {{monthlyEmployeeInfo.monthlyEmployee.userName}}</div>
        <div>Employee attendance: {{monthlyEmployeeInfo.monthlyEmployee.foundTotalDays}}</div>
        <div>Employee Leaves: {{monthlyEmployeeInfo.monthlyEmployee.foundTotalLeaves}}</div>
        <div>Employee salary: {{monthlyEmployeeInfo.monthlyEmployee.userMonthlySalary}}</div>
      </div>
  </div>
</div>